$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;
$bg-white: #fbfcfe;
$bg-lith-blue: #f1f6fc;
$bg-grey: #8e9892;
$accent-maginta: #6a107a;
$accent-green: #0f805d;
$text-black: #000000;
$text-white: #fbfcfe;
$add-rose: #b22ec8;
$add-green: #7bdb0a;
$add-pink: #ff8282;
