.berries-type__title {
  font-family: "Raleway", Arial, serif;
  color: $accent-green;
  font-size: 20px;
  line-height: 23.48px;
  font-weight: 400;
  text-align: left;
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 32.87px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 48px;
  }
}

.berries-type__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto auto auto auto;
  grid-auto-flow: column;
  column-gap: 20px;
  row-gap: 32px;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    line-height: 22px;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
    grid-auto-flow: column;
    column-gap: 67px;
    row-gap: 24px
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
    grid-auto-flow: column;
    column-gap: 48px;
    row-gap: 24px
  }
}

.berries-type__item {
  position: relative;
  padding-left: 36px;
  display: flex;
  align-items: center;
}

.control__mark--checkbox {
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  border: 2px solid $accent-green;
  border-radius: 5px;

  .control-checkbox:disabled + & {
    border-color: rgba(142, 152, 146, 0.7);
  }
}

.control-checkbox:checked {
  &+ .control__mark--checkbox::before {
    content: '';
    position: absolute;
    width: 7px;
    height: 2px;
    background-color: $accent-green;
    top: 12px;
    left: 3px;
    // bottom: 6px;
    // right: 13px;
    transform: rotate(45deg);
  }

  &+ .control__mark--checkbox::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 2px;
    background-color: $accent-green;
    top: 7px;
    right: 5px;
    transform: rotate(-45deg);
    transform-origin: 19px 7px;
  }
}

