.footer__wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;

  @media (min-width: $tablet-width) {
    display: contents;
  }
}

.footer__logo-image {
  width: auto;
  height: 52px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: auto;
    height: 60px;
    // margin: 0 5px;
  }

  .logo__picture {
    width: 34px;
    height: 42px;
    padding: 6px 9px 4px;
  }

  .logo__text {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
    }
  }
}


.footer__copyright {
  text-align: end;
  font-size: 11px;
  line-height: 12.91px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 18.78px;
  }
}

.copyright__svg {
  @media (min-width: $tablet-width) {
    width: 26px;
    height: 32px;
  }
}

