.page-main__info {
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 60px 28px 190px 28px;
  display: flex;
  flex-direction: column;
  background-image: url("../../images/berries-main@1x.jpeg");
  background-repeat: no-repeat;
  background-size: auto 136%;
  background-position: 28.3% 0;

  @media (min-resolution: 2dppx) {
    background-image: url("../../images/berries-main@2x.jpeg");
  }

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    padding: 142px 22px 420px 214px;
    background-size: auto 105%;
    background-position: 41% -10%;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 172px 350px 252px 540px;
    background-size: auto 132%;
    background-position: 105% 50%;
  }
}

.page-main__catalog {
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 60px 28px;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    padding: 100px 94px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 100px 156px;
  }
}

.page-main__news {
  position: relative;
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 94px 26px 60px;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    padding: 114px 26px 110px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 140px 156px 100px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 228px;
    height: 32px;
    background-image: url("../../images/section-line-leaf.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 296px;
      height: 42px;
    }
  }
}

.page-main__contacts {
  position: relative;
  max-width: $tablet-width;
  margin: 0 auto;
  padding: 104px 0 60px;

  @media (min-width: $tablet-width) {
    max-width: $desktop-width;
    padding: 114px 0 100px;
  }

  @media (min-width: $desktop-width) {
    max-width: 100%;
    padding: 142px 158px 100px;
    display: flex;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: space-between;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 228px;
    height: 32px;
    background-image: url("../../images/section-line-leaf.svg");
    background-position: 50% 50%;
    background-repeat: no-repeat;

    @media (min-width: $tablet-width) {
      width: 296px;
      height: 42px;
    }
  }
}
